<p id="notice"><%= notice %></p>

<p>
  <b>Nickname:</b>
  <%= @question.Nickname %>
</p>

<p>
  <b>Lable:</b>
  <%= @question.Lable %>
</p>

<p>
  <b>Topic:</b>
  <%= @question.Topic %>
</p>

<p>
  <b>Description:</b>
  <%= @question.Description %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
