<div class= "userSideBar">
	<div>
		<ul> 
			<li><h4><%= link_to 'User Information', '/users/show/info'%></h4></li>
			<li><h4><a href="/users/show/activities">My Activities</a></h4></li>
			<li><h4><a href="/users/show/footprint">My Footprint</a></h4></li>

			<br>
			<li><h4><a href="">Ask a question</a></h4></li>
			<li><h4><a href="/activities/new">Put a activity</a></h4></li>
			<br><br><br>
			<li><h4><%= link_to 'logout', destroy_user_session_path, :method =>'delete'%></h4></li>
		</ul>
	</div>
</div>
<div class="userContent">
	<div class="well userindex_act">
		<h3>My recent activities</h3><br/>
		<% @myAct.each do |a|%>
			<div class="userindex_actcontent span4">
				<%= link_to a.name, a %>
				<span style="float:right;"><%= a.tim%></span>
				<hr>
				<% ComForAct.where("activity_id=?",a.id).order(created_at: :desc).take(3).each do |c|%>
					<div class="userindex_actcom">
						<p><%= c.content %></p>
						<p style="text-align:right"><i class="icon-user"></i><%= c.speaker%> <%=c.created_at%></p>
					</div>
				<% end %>
			</div>
		<% end %>

	</div>
</div>