<div class= "userSideBar">
	<div>
		<ul> 
			<li><h4><%= link_to 'User Information', '/users/show/info'%></h4></li>
			<li><h4><a href="/users/show/activities">My Activities</a></h4></li>
			<li><h4><a href="/users/show/footprint">My Footprint</a></h4></li>

			<br>
			<li><h4><a href="">Ask a question</a></h4></li>
			<li><h4><a href="/activities/new">Put a activity</a></h4></li>
			<br><br><br>
			<li><h4><%= link_to 'logout', destroy_user_session_path, :method =>'delete'%></h4></li>
		</ul>
	</div>
</div>

<div class="userContent">
	<div  class="well userindex_fp">
		<h3>My recent footprints</h3>
		<% @myFootprint.each do |f|%>
			<div class="userindex_fpcontent span4">
				<%= link_to f.name, show_outservice_path(f.service_kind,f.name) %>
				<span style="float:right"><%= f.service_kind %> </span>
				<hr>
				<div class="userindex_fpcom">
					Commented: <%= f.comment%><br/>
					<span style="float:right"><%=f.created_at%></span>
				</div>
			</div>
		<% end %>
		<br /><br/>
	</div>
</div>