<div class= "span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list"> 
			<li class="nav-header">Services</li>
			<li><a href="/users/show/info">My Information<i class="icon-chevron-right"></i></a></li>
			<li><a href="/users/show/activities">My Activities<i class="icon-chevron-right"></i></a></li>
			<li><a href="/users/show/footprint">My Footprint<i class="icon-chevron-right"></i></a></li>

			<br>
			<li><a href="">Ask a question<i class="icon-chevron-right"></i></a></li>
			<li><a href="/activities/new">Put a activity<i class="icon-chevron-right"></i></a></li>
			<br><br><br>
			<li><a rel="nofollow" data-method="delete" href="/users/sign_out">logout<i class="icon-chevron-right"></i></a></li>
		</ul>
	</div>
</div>

<div class="userContent">
	<div class="well userindex_act">
		<h3>My recent activities</h3><br/>
		<% @myAct.each do |a|%>
			<div class="userindex_actcontent span4">
				<%= link_to a.name, a %>
				<span style="float:right;"><%= a.tim%></span>
				<hr>
				<% ComForAct.where("activity_id=?",a.id).order(created_at: :desc).take(3).each do |c|%>
					<div class="userindex_actcom">
						<p><%= c.content %></p>
						<p style="text-align:right"><i class="icon-user"></i><%= c.speaker%> <%=c.created_at%></p>
					</div>
				<% end %>
			</div>
		<% end %>

	</div>

	<div  class="well userindex_fp">
		<h3>My recent footprints</h3>
		<% @myFootprint.each do |f|%>
			<div class="userindex_fpcontent span4">
				<%= link_to f.name, show_outservice_path(f.service_kind,f.name) %>
				<span style="float:right"><%= f.service_kind %> </span>
				<hr>
				<div class="userindex_fpcom">
					Commented: <%= f.comment%><br/>
					<span style="float:right"><%=f.created_at%></span>
				</div>
			</div>
		<% end %>
		<br /><br/>
	</div>
</div>
