<body>
  <div class="others">
     <div class="sidebar">
      <div id = "userSideBar">
            This is a side bar<br />
            About what a user can do<br />
            Like ....<br />
            <a></a>
            <div>
             <ul>      
               <li><h4><a href="#">Ask a question</a></h4></li>
               <li><h4><a href="/activities/new">Put a activity</a></h4></li>
               <li><h4><%= link_to 'logout', destroy_user_session_path, :method =>'delete'%></h4></li>
            </ul>
            </div>
       </div>
     </div>
     <div class="mainbar">
        <div id ="userContent">
          <p id="notice"><%= notice %></p>
          <p>Welcome! <%= current_user.nickname %></p>
          <p><b>Email:</b><%= current_user.email %>
          </p>

          <p><b>Nickname:</b><%= current_user.nickname %></p>

          <p><b>Name:</b><%= current_user.name %></p>
          <p><b>Nation:</b><%= current_user.nation %></p>
          <p><b>Category:</b><%= current_user.category %></p>
          <p><b>realconfirm:</b><%= current_user.realconfirm %></p>
<p>My Activities</p>
<% @myAct.each do |a|%>
<div>
  <%= link_to a.name, a %>
</div>
<% end %>
<p>My footprint</p>
<% @myFootprint.each do |f|%>
<div>
  <%= f.service_kind %> <%= link_to f.name, show_outservice_path(f.service_kind,f.name) %>
</div>
<% end %>
<br/>


        </div>

      </div>

  </div>
</body>

