<div class="row-fluid">

<div class= "span3">
	<div id="user_sidebar" class="well sidebar-nav" style="float:right">
		<ul class="nav nav-list"> 
			<li class="nav-header">Services</li>
			<li><a href="/users/show/info">My Information<i class="icon-chevron-right"></i></a></li>
			<li><a href="/users/show/activities">My Activities<i class="icon-chevron-right"></i></a></li>
			<li><a href="/users/show/footprint">My Footprint<i class="icon-chevron-right"></i></a></li>

			<br>
			<li><a href="">Ask a question<i class="icon-chevron-right"></i></a></li>
			<li><a href="/activities/new">Put a activity<i class="icon-chevron-right"></i></a></li>
			<br><br><br>
			<li><a rel="nofollow" data-method="delete" href="/users/sign_out">logout<i class="icon-chevron-right"></i></a></li>
		</ul>
	</div>
</div>
<div class ="userContent span9">
	<div class="well userinfo main_container">
	Welcome! <%= current_user.nickname %><br><br>

            <div> Level:<%= current_user.level %><br>
            	Exp:<%= current_user.score %>/<%= 2**current_user.level %>
            	<div id="bar">
				<div class="progress progress-striped active exp_bar">
				<div class="bar" style='width:50%;'></div>
				</div>
				</div>
				<div class="exp_des" style="color:white">You can get Exp by commenting service,creating service and many other activities.Higher level enables you to do more things! </div>
            </div>

	<table class="info_table table table-bordered table-hover" style="margin-top">
		<tr>
			<td>Email</td>
			<td><%= current_user.email %></td>
		</tr>
		<tr>
			<td>NickName</td>
			<td><%= current_user.nickname %></td>
		</tr>
		<tr>
			<td>Name</td>
			<td><%= current_user.name %></td>
		</tr>
		<tr>
			<td>Nation</td>
			<td><%= current_user.nation %></td>
		</tr>
		<tr>
			<td>Category</td>
			<td><%= current_user.category %></td>
		</tr>
		<tr>
			<td>RealNameConfirmation</td>
			<td><%= current_user.realconfirm %></td>
		</tr>
	</table>
	<br/>
	<div align="right" style="margin-right:5%;margin-bottom:5%">
	
	<a href="/users/edit" class="btn btn-info">Change My Information</a>
	</div>
	</div>
</div>

</div>

<script type="text/javascript">
var txt = document.getElementById('bar').innerHTML;
var percent = <%= current_user.score.to_f*100/(2**current_user.level) %>;
var txt = "<div class='progress progress-striped active exp_bar'> <div class='bar' style='width:"+percent+"%;'></div> </div>";
document.getElementById('bar').innerHTML=txt;


</script>

