<h1>Listing qanswers</h1>

<table>
  <tr>
    <th>Nickname</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qanswers.each do |qanswer| %>
  <tr>
    <td><%= qanswer.Nickname %></td>
    <td><%= qanswer.Answer %></td>
    <td><%= link_to 'Show', qanswer %></td>
    <td><%= link_to 'Edit', edit_qanswer_path(qanswer) %></td>
    <td><%= link_to 'Destroy', qanswer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qanswer', new_qanswer_path %>
