<div class="activity">
  <p> <h1>Activity</h1></p><div class="clr"></div>
  <% @activities.each do |activity| %>
    <div class ="activities" style="width:350px;left:0">
      <span><%= link_to activity.name, activity %></span></br>
      <span><%=  activity.tim %></span>
      <hr>
      <span class = "description"><%= activity.description %></span>
    </div>
  <% end %>
</div>
<div class="server">
  <p> <h1>Server</h1></p><div class="clr"></div>
  <% if @service_restaurant != nil %>
    <div>
      <h2 style="border:solid 1px;text-align:center"><%= link_to @service_restaurant.name, show_outservice_path(:service_kind=>'restaurant',
               :name=>@service_restaurant.name) %> </h2>

              <p style="border:solid 1px;height:30px;overflow:hidden"><%= @service_restaurant.description %></p>
            </div>
            <% end %>
            <% if @service_ktv != nil %>
            <div>
              <h2 style="border:solid 1px;text-align:center"><%= link_to @service_ktv.name, show_outservice_path(:service_kind=>'ktv',
               :name=>@service_ktv.name) %> </h2>
              <p style="border:solid 1px;height:30px;overflow:hidden"><%= @service_ktv.description %></p>
            </div>
            <% end %>
            <% if @service_bar != nil %>
            <div>
              <h2 style="border:solid 1px;text-align:center"><%= link_to @service_bar.name, show_outservice_path(:service_kind=>'bar',
               :name=>@service_bar.name) %> </h2>
              <p style="border:solid 1px;height:30px;overflow:hidden"><%= @service_bar.description %></p>
            </div>
            <% end %>
          </div>
        </div>

        <div class="article">
          <h2><span>Quesions&Answers</span> </h2><div class="clr"></div>
          <p><h2>this part is for questions and answers.<h2></p>
        </div>
        




  
  
</div>




