<script type="text/javascript">
	function signin(){
		alert("HHH");
	}
</script>	

<div class="topBar">
	<%= link_to 'Here is our logo', :controller => 'index', :action => 'index' %>
	<% if log = SignedInLog.checkout(cookies[:riskfit_token]) %>
		<% @user = User.find(:first, :conditions =>["email = ? ", log.email])%>
		<div class = "usrtop">
			<%= link_to @user.nickname, @user %>
		</div>
	<% else %>
		<div class="sign">
			<%= link_to 'signin', "signin" %> |
			<%= link_to 'signup', new_user_path %>
		</div>
	<% end %>
</div>
<div class="others">
<h1>This is our front page</h1>
<p>Try to add some links ...</p>
<%= cookies[:riskfit_token] %>
</div>