<p>hello admin</p>
<p>Here You can see all the users</p>
<%= link_to 'Users Management', '/admins/usrmgmt'%>
<p>And put 'Authority Level' tags to them<p>
<br />
<p>Here You can see all the activities</p>
<%= link_to 'Activities Management', 'admins/actmgmt'%>
<p>Maybe you want to delete some no-good activities</p>
<br />
<p>Here You can maintain the service information</p>
<%= link_to 'Services Management', 'admins/svcmgmt'%>
<p>Only admins can modify the informations</p>
<br />
<p>You can send emails to some users</p>
<%= link_to 'Send Email', 'admins/sndemail'%>
<%= link_to '' %>
