    <div class ="actSideBar">
        This is activity side bar;<br />
        <% if user_signed_in? %>
    <%= link_to 'New Activity', new_activity_path %>
    <% end %>
    </div>

    <div class = "actContent">
        <% @activities.each do |activity| %>
        <div class ="activities">
            <span class = "name"><%= link_to activity.name, activity %></span>
            <span class = "time"><%=  activity.tim %></span>
            <hr>
            <span class = "description"><%= activity.description %></span>
        </div>
        <% end %>
        <br />
        <div class = "pagenum">
        <%  for i in 1..@pagetotal %>
            <span><%= link_to "#{i}", :controller => "activities", :action =>"list", :id =>i %>
            </span>
        <% end %>
        </div>
    </div>
