<html>
<head>
<script type="text/javascript">
function mouseOver_r()
{
document.getElementById("restaurant").style.display="block";
document.getElementById("KTV").style.display="none";
document.getElementById("Bar").style.display="none";
}
function mouseOver_k()
{
document.getElementById("KTV").style.display="block";
document.getElementById("restaurant").style.display="none";
document.getElementById("Bar").style.display="none";
}
function mouseOver_b()
{
document.getElementById("Bar").style.display="block";
document.getElementById("KTV").style.display="none";
document.getElementById("restaurant").style.display="none";
}

</script>
</head>

<body class="guide">

  <div>
  <% if log = SignedInLog.checkout(cookies[:riskfit_token]) %>
    <% @user = User.find(:first, :conditions =>["email = ? ", log.email])%>
  <% end %>
</div>
</br></br></br></br>
  <h1>
            Services out of HIT
        </h1>
        <div id="feature">
            <div class="wrapper" style="border:0px black solid">
                <div id="restaurant" style="padding-right: 23em">
                    <h2>
                        restaurant
                    </h2><% @restaurants.each do |restaurant| %>
                    <div style="max-width:640px;border:1px blue solid;padding-right: 23em;margin:0.5em;position: relative">
                    <h3>
                        <%= link_to restaurant.name, show_outservice_path(:service_kind=>'restaurant', :name=>restaurant.name) %>
                    </h3>
                   
                        <div style="width:320px;border:solid 1px lightblue"><%= restaurant.description %></div>
                      <div float="right" style="border:1px red solid;position:absolute;right:0;top:0">
                        <%= image_tag restaurant.picture_addr %>
                      </div>
                    
                    <div>
                        <%= link_to 'Destroy', delete_outservice_path(:service_kind=>'restaurant', :name=>restaurant.name), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    </div>
                    <% end %>
                </div>

                <div id="KTV" style="display:none;padding-right: 23em">
                    <h2>
                        KTV
                    </h2><% @ktvs.each do |ktv| %>
                    <div style="max-width:640px;border:1px blue solid;padding-right: 23em;margin:0.5em;position: relative">
                    <h3>
                        <%= link_to ktv.name, show_outservice_path(:service_kind=>'ktv', :name=>ktv.name) %>
                    </h3>

                    <div style="width:320px;border:solid 1px lightblue"><%= ktv.description %></div>
                    <div float="right" style="border:1px red solid;position:absolute;right:0;top:0">
                        <%= image_tag ktv.picture_addr %>
                    </div>
                  
                    <div>
                        <%= link_to 'Destroy', delete_outservice_path(:service_kind=>'ktv', :name=>ktv.name), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    </div>
                    <% end %>
                </div>

                <div id="Bar" style="display:none;padding-right: 23em">
                    <h2>
                        bar
                    </h2><% @bars.each do |bar| %>
                    <div style="max-width:640px;border:1px blue solid;padding-right: 23em;margin:0.5em;position: relative">
                    <h3>
                        <%= link_to bar.name, show_outservice_path(:service_kind=>'bar', :name=>bar.name) %>
                    </h3>
                   
                        <div style="width:320px;border:solid 1px lightblue"><%= bar.description %></div>
                      <div float="right" style="border:1px red solid;position:absolute;right:0;top:0">
                        <%= image_tag bar.picture_addr %>
                      </div>
                    
                    <div>
                        <%= link_to 'Destroy', delete_outservice_path(:service_kind=>'bar', :name=>bar.name), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                    </div>
                    <% end %>
                </div>

                <div id="subCol">
                    <h3 class="list">
                        Services List
                    </h3>
                    <ol class="chapters">
                        <li>
                            <font color="black" onmouseover="mouseOver_r()">Restaurant</font>
                        </li>
                        <li>
                            <font color="black" onmouseover="mouseOver_k()">KTV</font>
                        </li>
                        <li>
                            <font color="black" onmouseover="mouseOver_b()">Bar</font>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
</body>