<html>
    <head>
        <script type="text/javascript">
        function show_click(q1,q2,q3,b1,b2,b3)
        {
        document.getElementById(q1).style.display="block";
        document.getElementById(b1).className="active";
        document.getElementById(q2).style.display="none";
        document.getElementById(b2).className="";
        document.getElementById(q3).style.display="none";
        document.getElementById(b3).className="";
        }
        </script>
        <title></title>
    </head>
    


    <body class="guide">


<div class="container-fluid">  
      <div class="row">  
        <div class="span3">  
          <div class="well sidebar-nav">  
            <ul class="nav nav-list sidebar_service">  
              <li class="nav-header">Services</li>  
              <li id="r_b"><a  href="#" onclick="show_click('restaurant','Bar','KTV','r_b','k_b','b_b')">Restaurant<i class="icon-chevron-right"></i></a></li>  
              <li id="k_b"><a href="#" onclick="show_click('KTV','Bar','restaurant','k_b','r_b','b_b')">KTV<i class="icon-chevron-right"></i></a></li>  
              <li id="b_b"><a href="#" onclick="show_click('Bar','restaurant','KTV','b_b','k_b','r_b')">Bar<i class="icon-chevron-right"></i></a></li><br>
              <% if user_signed_in? && current_user.level>=4 %> 
              <li id="b_b"><a href="outservices/new" >Add Service<i class="icon-chevron-right"></i></a></li>
              <% end%> 
            </ul>  
          </div><!--/.well -->  
        </div><!--/span-->  

 <div class="well service_index main_container">
        <h1>
            Services out of HIT
        </h1>
                <div id="restaurant" >
                    <h2>
                        restaurant
                    </h2><% @restaurants.each do |restaurant| %>
                    <div class="well service_sec">
                        <div style="float:right;">
                            <%= image_tag(restaurant.picture_addr,:class=>"img-polaroid") %>
                        </div>
                        <h3>
                            <%= link_to restaurant.name, show_outservice_path(:service_kind=>'restaurant', :name=>restaurant.name) %>
                        </h3>
                        
                        <div class="service_dis">
                            <div style="margin-bottom:20px">
                                <div class="row-fluid service_star well">
                                    <div class="span5">
                                    <i class=" icon-heart"></i>star(s):
                                    <% for i  in 1..restaurant.star.to_i %><i class="icon-star"></i>
                                    <% end %>
                                    <% for i in restaurant.star.to_i+1..5 %><i class="icon-star-empty"></i>
                                    <% end %>
                                    </div>
                                    <div class="span6" ><i class="icon-thumbs-up"></i>(<%= restaurant.cnt %> people have commented)</div>
                                </div> 
                            </div>
                            <%= restaurant.description %>
                        </div>
                        
                        <div>
                            <%= link_to 'Destroy', delete_outservice_path(:service_kind=>'restaurant', :name=>restaurant.name), method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                    </div><% end %>
                </div>
                <div id="KTV" style="display:none;">
                    <h2>
                        KTV
                    </h2><% @ktvs.each do |ktv| %>
                    <div class="well service_sec">
                        <div style="float:right;">
                            <%= image_tag(ktv.picture_addr,:class=>"img-polaroid") %>
                        </div>
                        <h3>
                            <%= link_to ktv.name, show_outservice_path(:service_kind=>'ktv', :name=>ktv.name) %>
                        </h3>
                        
                        <div class="service_dis">
                            <div style="margin-bottom:20px">
                                <div class="row-fluid service_star well">
                                    <div class="span5">
                                    <i class=" icon-heart"></i>star(s):
                                    <% for i  in 1..ktv.star.to_i %><i class="icon-star"></i>
                                    <% end %>
                                    <% for i in ktv.star.to_i+1..5 %><i class="icon-star-empty"></i>
                                    <% end %>
                                    </div>
                                    <div class="span6" ><i class="icon-thumbs-up"></i>(<%= ktv.cnt %> people have commented)</div>
                                </div> 
                            </div>
                            <%= ktv.description %>
                        </div>
                        
                        <div>
                            <%= link_to 'Destroy', delete_outservice_path(:service_kind=>'ktv', :name=>ktv.name), method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                    </div><% end %>
                </div>
                <div id="Bar" style="display:none;">
                    <h2>
                        bar
                    </h2><% @bars.each do |bar| %>
                    <div class="well service_sec">
                        <div style="float:right;">
                            <%= image_tag(bar.picture_addr,:class=>"img-polaroid") %>
                        </div>
                        <h3>
                            <%= link_to bar.name, show_outservice_path(:service_kind=>'bar', :name=>bar.name) %>
                        </h3>
                        <div class="service_dis">
                            <div style="margin-bottom:20px">
                                <div class="row-fluid service_star well">
                                    <div class="span5">
                                    <i class=" icon-heart"></i>star(s):
                                    <% for i  in 1..bar.star.to_i %><i class="icon-star"></i>
                                    <% end %>
                                    <% for i in bar.star.to_i+1..5 %><i class="icon-star-empty"></i>
                                    <% end %>
                                    </div>
                                    <div class="span6" ><i class="icon-thumbs-up"></i>(<%= bar.cnt %> people have commented)</div>
                                </div> 
                            </div>
                            <%= bar.description %>
                        </div>

                        <div>
                            <%= link_to 'Destroy', delete_outservice_path(:service_kind=>'bar', :name=>bar.name), method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                    </div><% end %>
                </div>

                </div><!--/row-->  
            </div><!--/.fluid-container--> 

    </body>
</html>