<div class="topBar">
	<%= link_to 'Here is our logo', :controller => 'index', :action => 'index' %>
	<% if log = SignedInLog.checkout(cookies[:riskfit_token]) %>
		<% @user = User.find(:first, :conditions =>["email = ? ", log.email])%>
		<div class = "usrtop">
			<%= link_to @user.nickname, @user %>
		</div>
	<% else %>
		<div class="sign">
			<%= link_to 'signin', "signin" %> |
			<%= link_to 'signup', new_user_path %>
		</div>
	<% end %>
</div>


<div class="others" style="border:solid red 1px; width: 100%" >
	<p id="notice"><%= notice %></p>
	<table align="center" width="800px" border="1px blue"style="background-color:lightblue;border-collapse:collapse;border-color:blue">
      <tr><th><%= @outservice_place.name %></th>
          <td  align="center"><%= image_tag @outservice_place.picture_addr %></td></tr>
      <tr><td><%= @outservice_place.description %></td></tr>
      <tr><td>Comments:</td></tr>
      <% @usercomments.each do |usercomment| %>
      <tr><td><b><%= usercomment.nickname %></b></td></tr>
      <tr><td><%= usercomment.comment %></td>
        <td width="150px"><div align="center" style="width:100%;height:20px;overflow:hidden;"><%= link_to 'Destroy', delete_outservice_comments_path(:service_kind=>@outservice_place.service_kind,:name=>@outservice_place.name,:nickname=>usercomment.nickname,:comment=>usercomment.comment ), method: :delete, data: { confirm: 'Are you sure?' } %></div></td>  
      </tr>
      <% end %>
	</table>
<div class="comment" align="center" style="width:90%">
<%= form_tag(url: add_outservice_comments_path(:name=>@outservice_place.name,:service_kind=>@outservice_place.service_kind)) do %>
  	<%= label_tag(:comment, "comment:") %></br>
    <%= text_area_tag(:comment, "", size: "50x6") %></br>
    <%= submit_tag 'submit'%>
<% end %>
<div align="right"><%= link_to 'Back', outservices_path %></div>
</div>



</div>

