<script type="text/javascript">
function OnClickC(p1,p2,p3,p4,p5){
    document.getElementById(p1).style.display="block";
    document.getElementById(p2).style.display="none";
    document.getElementById(p3).style.display="none";
    document.getElementById(p4).style.display="none";
    document.getElementById(p5).style.display="none";
}

</script>     
        <div class="service">
            <div class="well main_container">
                <h1>
                <%= @outservice_place.service_kind %>
                </h1>
                <div class="well service_detail">
                       		<div >
                       			<div style="float:right;margin-left:30px">
                       					<%= image_tag(@outservice_place.picture_addr,:class=>"img-polaroid") %>
                                
                            </div>
                            <h2> <%= @outservice_place.name %></h2>
                            
                            
                        	<div style="text-align:left">
                                <div style="margin-bottom:20px;margin-left:35px">
                                <div class="row-fluid service_star well">
                                    <div class="span5">
                                    star(s):
                                    <% for i  in 1..@outservice_place.star.to_i %><i class="icon-star"></i>
                                    <% end %>
                                    <% for i in @outservice_place.star.to_i+1..5 %><i class="icon-star-empty"></i>
                                    <% end %>
                                    </div>
                                    <div class="span5" >(<%= @outservice_place.cnt %> people have commented)</div>
                                </div> 
                                </div>
                                <%= @outservice_place.description %>
                            </div>
                         	</div>
                         	<div>
                            <br><br>
                                <b>Comments:</b><br>
                            <% @usercomments.each do |usercomment| %>
                            <div class="well service_com">
                                <i class="icon-user"></i>  <b> <%= usercomment.nickname %>:</b>
                               </br>
                                <p> <% for i  in 1..usercomment.star %><i class="icon-star"></i>
                                    <% end %>
                                    <% for i in usercomment.star+1..5 %><i class="icon-star-empty"></i>
                                    <% end %>
                                </p>


                                <span><%= usercomment.comment %></span></br></br>
                                <div class="comment_destroy">
                                    <%= link_to 'Destroy', delete_outservice_comments_path(:service_kind=>@outservice_place.service_kind,:name=>@outservice_place.name,:nickname=>usercomment.nickname,:comment=>usercomment.comment ), method: :delete, data: { confirm: 'Are you sure?' } %>
                                </div>
                            </div>
                            <% end %>
                          </div>
                    </div>

                    <% if user_signed_in? %>

                    <br>
                    <div class="service_comment" >
                        <% if current_user.level>=3 %>
                        <%= link_to 'Add More Information', add_outservice_information_path %>
                        <br><br>
                        <% end %>
                        <%= form_tag(url: add_outservice_comments_path(:name=>@outservice_place.name,:service_kind=>@outservice_place.service_kind)) do %>
                        <i class="icon-edit inline"></i><span>COMMENTS</span>

                        
                        <div class="check_star">
                            <label class="radio inline">
                                <input onclick="OnClickC('star_1','star_2','star_3','star_4','star_5')" type="radio" name="star" id="star1" value=1 >
                            </label>
                            <label class="radio inline">
                                <input onclick="OnClickC('star_2','star_1','star_3','star_4','star_5')" type="radio" name="star" id="star2" value=2 >
                            </label>
                            <label class="radio inline">
                                <input onclick="OnClickC('star_3','star_1','star_2','star_4','star_5')" type="radio" name="star" id="star3" value=3 checked>
                            </label>
                            <label class="radio inline">
                                <input onclick="OnClickC('star_4','star_1','star_3','star_2','star_5')" type="radio" name="star" id="star4" value=4 >
                            </label>
                            <label class="radio inline">
                                <input onclick="OnClickC('star_5','star_1','star_3','star_4','star_2')" type="radio" name="star" id="star5" value=5 >
                            </label>
                            <div class="star_dis">
                                <p id="star_1">It's Bad, I won't go there anymore!</p>
                                <p id="star_2">It's OK, but I may not go there anymore.</p>
                                <p id="star_3">It's at the general level, I may go there again.</p>
                                <p id="star_4">It's good, I will go there again.</p>
                                <p id="star_5">It's awesome, I will definately go there again!</p>
                            </div>
                        </div>

                        <%= text_area_tag(:comment, "You can get Exp by commenting the service.", size: "50x5",id: "comment") %></br>
                        <%= submit_tag 'Comment', :class=>"btn btn-primary"%> <% end %>
                    </div>
                    <% end %>

                    <div align="right" style="margin-right:15%">
                            <%= link_to 'Back', outservices_path %>
                    </div>
                </div>
            </div> <!-- main container -->
    </div>

<script language="javascript">
 var s=document.getElementById("comment");
 s.onfocus=function(){if(this.value==this.defaultValue)this.value=''};
 s.onblur=function (){if(/^\s*$/.test(this.value)){this.value=this.defaultValue;this.style.color='#aaa'}}
 s.onkeydown=function(){this.style.color='#333'}
</script>