        <div class="service">
            <div class="well main_container">
                <h1>
                <%= @outservice_place.service_kind %>
                </h1>
                <div class="well service_detail">
                       		<div >
                       			<div style="float:right;margin-left:30pxd">
                       					<%= image_tag(@outservice_place.picture_addr,:class=>"img-polaroid") %>
                                
                            </div>
                            <h2> <%= @outservice_place.name %></h2>
                            
                            
                        		<div style="text-align:left">
                                <%= @outservice_place.description %>
                            </div>
                         	</div>
                         	<div>
                            <br><br>
                                <b>Comments:</b><br>
                            <% @usercomments.each do |usercomment| %>
                            <div class="well service_com">
                                <i class="icon-user"></i>  <b> <%= usercomment.nickname %>:</b></br>
                            
                                <span><%= usercomment.comment %></span></br></br>
                            
                            
                                <div class="comment_destroy">
                                    <%= link_to 'Destroy', delete_outservice_comments_path(:service_kind=>@outservice_place.service_kind,:name=>@outservice_place.name,:nickname=>usercomment.nickname,:comment=>usercomment.comment ), method: :delete, data: { confirm: 'Are you sure?' } %>
                                </div>
                            </div>
                            <% end %>
                          </div>
                    </div>

                    <% if user_signed_in? %>
                    <br>
                    <div class="service_comment" >
                        <%= form_tag(url: add_outservice_comments_path(:name=>@outservice_place.name,:service_kind=>@outservice_place.service_kind)) do %>
                        <%= label_tag(:comment, "comment:") %></br>
                        <%= text_area_tag(:comment, "", size: "50x5") %></br>
                        <%= submit_tag 'submit'%> <% end %>
                    </div>
                    <% end %>

                    <div align="right" style="margin-right:100px">
                            <%= link_to 'Back', outservices_path %>
                    </div>
                </div>
            </div> <!-- main container -->
    </div>

