<!DOCTYPE html>
<html>
<head>
  <title>FUTR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
     <p class="notice"><%=notice%></p>
      <p class="alert"><%=alert%></p>
<div class="topBar">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1>
          <a href="/index.html"><span>HITer</span> </a>
        </h1></div>
      <div class="menu_nav">
        <ul>
          <li class="active"><%=  link_to 'Home', :controller => '/index',:action =>'index'%></li>
          <li><%= link_to 'map', :controller => '/hitmap',:action =>'index'%></li>
          <li><%= link_to 'map2', :controller => '/hitmap',:action =>'another'%></li>
          <li><%= link_to 'Activity',:controller => '/activities',:action =>'list',:id=>'1' %></li>
          <li><%= link_to 'Services', outservices_path %></li>
          <li><a href="">Q&A</a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <% if log = SignedInLog.checkout(cookies[:riskfit_token]) %>

    <div class = "usrtop">

    </div>
  <% else %>
    <div class="sign">

  <% end %>
</div> 
<%= yield %>

</body>
</html>
