<div class="well main_container">
<h2>Edit <%= resource_name.to_s.humanize %> Information</h2>
<div class="useredit_form">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		<%= devise_error_messages! %>
		<div class="useredit_pwds span5">
			<div class="field">
				<%= f.label :email %>
				<%= f.email_field :email, autofocus: true %>
			</div>

			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div class="field">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
			<% end %>

			<div class="field">
				<%= f.label :password %> <i>(leave blank if no change)</i><br/>
				<%= f.password_field :password, autocomplete: "off" %>
			</div>

			<div class="field">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>

			<div class="field">
				<%= f.label :current_password %>
				<i>password is need to change these</i><br/>
				<%= f.password_field :current_password, autocomplete: "off" %>
			</div>
		</div>
		<div class="useredit_info span5">
			<div class="field">
				<%= f.label :nickname %>
				<%= f.text_field :nickname%>
			</div>
			<div class="field">
				<%= f.label :name %><i>(Be careful to change them...)</i><br>
				<%= f.text_field :nickname%>
			</div>
			<div class="field">
				<%= f.label :nation %>
				<%= f.text_field :nation%>
			</div>
			<div class="field">
				<%= f.label :category%>
				<i>category change need real confirm</i><br/>
				<%= f.select(:category,options_for_select([['common','common'],['club','club'],['official','official'],['service','service']], current_user.category) )%>
			</div>
		</div>
		<br/><br/>
		<div class="useredit_submit">
			<%= f.submit "Update" %>
		</div>
	<% end %>
</div>
<br/><br/>
<div class="useredit_cancel">
	<h3>Cancel my account</h3>
	<p style="font-size:17px">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
<br />
<span id="backlink"><%= link_to "Back", :back %></span>
</div>